<!DOCTYPE html>

<html>
    <head>
        <title> 404 not found</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
            {{title}}{{problem}}
        </div>

        {{>footer}}
    </body>
    
</html>