<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <p>This site is created by Kaspar Puksand. It usesdata from mapbox.com and darksky.net</p>
        <img class="portrait" src="/img/profilepic.png">
        <p>{{name}}</p>
        </div>
        {{>footer}}

    </body>
    
</html>